anyio==4.15.1
build==1.6.1
CacheControl==0.14.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
cleo==2.1.0
crashtest==0.4.1
distlib==0.4.3
dulwich==1.2.15
fastjsonschema==2.22.2
filelock==4.0.9
findpython==0.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
installer==1.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
keyring==25.7.0
more-itertools==11.1.0
msgpack==1.2.3
packaging==26.3
pbs-installer==2026.10.1
pkginfo==1.13
platformdirs==4.12.2
poetry==2.5.1
poetry-core==2.5.0
pycparser==3.0
pyproject_hooks==1.3.3
python-discovery==1.6.1
RapidFuzz==3.14.6
requests==2.34.2
requests-toolbelt==1.0.0
shellingham==1.5.4
tomlkit==0.15.1
trove-classifiers==2026.9.21.13
typing_extensions==4.16.0
urllib3==2.8.0
virtualenv==21.14.5
xattr==1.3.0
